WHATSAPP_ACCESS_TOKEN=your_test_token
PHONE_NUMBER_ID=your_test_phone_number_id

BREVO_API_KEY=your_brevo_api_key
BREVO_FROM_EMAIL=your_verified_email@example.com

ONESIGNAL_APP_ID=your_app_id
ONESIGNAL_REST_API_KEY=your_api_key
